@import '../../variables.scss';

.tickets {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
}

.errorText {
  display: block;
  text-align: center;
}

.spinner {
  width: 48px;
  height: 48px;
  margin: 0 auto 16px auto;
  border: 5px solid $color-blue-main;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .spinner {
    margin: 16px auto 0 auto;
  }
}
