$color-white: #ffffff;
$color-red: rgba(255, 0, 0, 0.25);

$color-blue-main: #2196f3;
$color-blue-light: #f1fcff;
$color-border: #dfe5ec;
$color-checkbox-inactive: #9abbce;

$color-background: #f3f7fa;

$color-text-dark: #4a4a4a;
$color-text-light: #a0b0b9;
